* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Courier New', Courier, monospace;

}

body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Comfortaa', cursive;
    background-color: rgb(47, 47, 47);
    color: rgb(240, 240, 240);
}

.nav-container {

    flex-basis: 100%;

    margin-bottom: 2em;

}

.nav-list {

    display: flex;
    place-content: flex-end;
    list-style-type: none;

}

.nav-list-item {

    flex-basis: 12%;
    text-align: center;
    text-decoration: none;
    color: rgb(240, 240, 240);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: .5em 2em;

}

.nav-list-item:hover {

    background-color: black;

}

.generator-container {

    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 2em;

}

.generator-variables-container {

    flex-basis: 50%;

}

.generator-variables-container label,
.generator-variables-container input {

    display: block;
    margin: 0 auto;
    width: 70%;

}

.generator-variables-container input {

    margin-bottom: .8em;
    width: 40%;

}

.generator-variables-container input[type='submit'],
.generator-variables-container input[type='color'] {

   width: 20%;

}

.generator-variables-container label {

   text-align: center;

}

.generator-live-container {

    flex-basis: 50%;

}

.generator-live-container img {

    max-width: 100%;

}

.main-container {

    flex-basis: 100%;
    display: flex;

}

.database-container {

    flex-basis: 50%;

}

.database-container input[type='submit'] {

    width: 20%;
    display: block;
    margin: 0 auto;

}

.signup-container {

    flex-basis: 50%;

}

.signup-container label,
.signup-container input {

    display: block;
    margin: 0 auto;
    width: 70%;

}

.signup-container label {

    text-align: center;
 
 }

.signup-container input {

    margin-bottom: .8em;
    width: 40%;

}

.signup-container input[type='submit'],
.signup-container input[type='color'] {

   width: 20%;

}

.cert-download-link {

    color: red;
    margin: 10px 20px;

}

.notifications-container {

    flex-basis: 50%;

}

.requests-container {

    flex-basis: 50%;

}

h1 {

    display: block;
    flex-basis: 100%;
    text-align: center;

}

h2 {

    text-align: center;
    margin-bottom: 1em;

}

td {

    text-align: center;
    min-width: 120px;

}

td:first-of-type {

    text-align: left;

}

tr:first-of-type td:first-of-type {

    text-align: center;

}
