body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Comfortaa', cursive;
    background-color: rgb(47, 47, 47);
    color: rgb(240, 240, 240);
}

.nav-container {

    flex-basis: 100%;

}

.nav-list {

    display: flex;
    place-content: flex-end;
    list-style-type: none;

}

.nav-list-item {

    flex-basis: 12%;
    text-align: center;
    text-decoration: none;
    color: rgb(240, 240, 240);

}

.nav-list-item:hover {

    background-color: black;

}

.generator-container {

    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.generator-variables-container {

    flex-basis: 50%;

}

.generator-live-container {

    flex-basis: 50%;

}

.database-container {

    flex-basis: 50%;

}

.newuser-container {

    flex-basis: 50%;

}

td {

    text-align: center;
    min-width: 120px;

}